@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto criado para o aprendizado da ferrameta MVC.</p>

<br>

<p>Foi criado uma tela de contatos e foi configurao o CRUD na aplicação, podendo assim, criar, editar, detalhar e deletar um contato.</p>
